.formBox {
    padding: 1rem 1rem;
}

.actionBox {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.actionBox button {
    width: 100%;
}

.actionBox button:first-child {
    margin-right: 15px;
}

